[package]
name = "nexrad"
version = "0.1.0-rc1"
description = "Download and decode functions for NEXRAD radar data."
authors.workspace = true
edition.workspace = true
license.workspace = true
rust-version.workspace = true
repository.workspace = true
keywords.workspace = true
categories.workspace = true

[features]
default = ["model", "decode", "data", "render"]
model = ["dep:nexrad-model"]
decode = ["dep:nexrad-decode"]
data = ["dep:nexrad-data"]
render = ["dep:nexrad-render", "model"]

[dependencies]
thiserror = { workspace = true }
nexrad-model = { version = "0.1.0", path = "../nexrad-model", optional = true }
nexrad-decode = { version = "0.1.1", path = "../nexrad-decode", optional = true }
nexrad-data = { version = "0.2.0", path = "../nexrad-data", optional = true }
nexrad-render = { version = "0.1.0", path = "../nexrad-render", optional = true }
