name: CI (Lite)

on:
  workflow_call:

jobs:
  formatting:
    name: Formatting check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Rust
        uses: ./.github/actions/setup-rust
        with:
          components: rustfmt
          system-deps: "false"
          cache: "false"

      - name: Check formatting
        run: cargo fmt --all -- --check

  clippy:
    name: Clippy linting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Rust
        uses: ./.github/actions/setup-rust
        with:
          components: clippy

      - name: Run Clippy
        run: cargo clippy --all-features --workspace -- -D warnings

  build:
    name: Build check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Rust
        uses: ./.github/actions/setup-rust

      - name: Build workspace
        run: cargo build --all-features --workspace --release
